{% include base_path %}

{% if site.repository %}
<div class="page__comments-inner">
  <h2><i class="fa fa-comments" aria-hidden="true"></i> Comments</h2>
  <p class="page__comments-hint">Sign in with GitHub to leave a comment. Comments are synced with <a href="https://github.com/{{ site.repository }}/issues" target="_blank">GitHub Issues</a>.</p>
  <script src="https://utteranc.es/client.js"
          repo="{{ site.repository }}"
          issue-term="pathname"
          label="comment"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{% endif %}
